/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};


&i2c1 {
    hs3003: hs3003@4a {
        compatible = "i2c-device";
        status = "okay";
        reg = <0x44>;
        label = "hs3003";
    };
};
